
# This is just a sample of .env so that you should know what fields are there in actual .env


VITE_SERVER_URL=http://localhost:8000
VITE_FIREBASE_API_KEY= 'Use Your key in .env'
VITE_RAZORPAY_KEY_ID= 'Use Your key in .env'