# This is just a sample of .env so that you should know what fields are there in actual .env


PORT = 8000
MONGO_URI = "USE YOUR MONGO URI"
SECRET_KEY="Use your secret key"
OPENROUTER_API_KEY='Use Your key'
FRONTEND_URL = http://localhost:5173
RAZORPAY_KEY_ID='Use Your key'
RAZORPAY_SECRET= 'Use your Razorpay secret'

VITE_FIREBASE_API_KEY= 'Use Your key '
VITE_RAZORPAY_KEY_ID= 'Use Your key '